.App {
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
}

.App-logo {
  height: 100px;
}

.App-header {
  height: 120px;
  padding: 10px;
  background-image: url("http://mxtripcalifornia.com/wp-content/uploads/2014/12/background-triangles-black_panel-gray-abstract.jpg");
 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.line-spin-fade-loader {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
}

.movie-card {
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;
  overflow: hidden;
  height: 300px;
  width: 500px;
}
.media-body {
  text-align: left;
  padding: 20px;
}
h4 {
  font-size: 18px !important;
}

.search-bar {
  font-size: 14px !important;
}
.oc-search-bar {
  margin-top: 10px;
}

.filter_wrapper_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  margin: 10px 0;
}
.btn-refresh {
  display: inline;
  margin-left: 10px;
}
.dropdown {
  display: inline;
  
}

.trailer-btn {
  position: absolute !important;
  bottom: 40px !important;
  left: 250px;
}

.modal-body {
  min-width: 800px;
}